<html>
    <head>
        <title>login page</title>
        <style>
            *{
                padding:0px;
                margin:0px;
            }
            
        div
        {   
            background-color: rgb(103, 197, 201);
            height:100%;
            width:70%;
         }
        </style>
        </head>
        <body>

            <form>
                <center>
                <div >
                   
                <table cellspacing="30px" cellpadding="15px">
                
                <tr><td>Name</td>
                    <th><input type="text"></th>
                   
                </tr>
                <br>
                <tr><td>id</td>
                    <th><input type="number"></th>
                </tr>
               <br>
                <tr><td>Password</td>
                    <td><input type="password"></td>
                </tr>
                <br>
                <tr><th><input type="submit" value="login"></th></tr>
                </table>
                
            </div>
        </center>
            </form>
        </body>

    
</html>